*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Boogaloo', cursive;
  color: #04effe;
}
.container{
  min-height: 100vh;
  width: 100%;
  background-image: url(img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.navbar{
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 3em;
  padding: 20px 0;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  padding: 40px 30px;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 1.3em;
}

.header-content{
  width: 100%;
  position: absolute;
  top: 30%;
}
.left-side{
  margin-left: 6%;
}
.left-side h1{
  font-size: 80px;
  text-transform: uppercase;
  line-height: 110px;
  float: left;
}
.right-side{
  float: right;
  display: flex;
  align-items: center;
  margin-right: 8%;
  margin-top: 120px;
}
.right-side p{
  font-size: 24px;
  margin-right: 25px;
}
.right-side img{
  width: 50px;
  cursor: pointer;
}